@import './reset.css';


:root {
    --header-height: 7rem;
    --footer-height: 10rem;
    --products-gird: repeat(4, 1fr);
    --style-transition: .5s;

    // 預設主題顏色
    --main-color: rgb(248, 248, 248);
    --second-color: rgb(255, 255, 255);
    --main-font-color: rgb(59, 59, 59);
    --second-font-color: rgb(66, 66, 66);
    --font-hover-color: rgb(35, 116, 255);
    --button-color: rgb(138, 183, 255);
    --background-color: rgb(196, 217, 255);
    --input-background-color: rgb(228, 228, 228);
    --card-background-color: rgba(0, 0, 0, 0.337);

    // 深色主題顏色
    // --main-color: rgb(29, 37, 42);
    // --second-color: rgb(34, 34, 34);
    // --main-font-color: rgb(213, 213, 213);
    // --second-font-color: rgb(255, 255, 255);
    // --font-hover-color: rgb(0, 61, 135);
    // --button-color: rgb(0, 13, 30);
    // --background-color: rgb(59, 59, 59);
    // --input-background-color: rgb(59, 59, 59);
}
html {
    //設定為62.5% 1rem == 10px
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    transition:  var(--style-transition) ;
    // transition:  1s;
    color: var(--main-font-color);
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
// div, a, button { 
//     transition: var(--style-transition) ;
// }
// div {
//     transition: var(--style-transition)
// }
button {
    border: 0;
    background-color: transparent;
    color: var(--main-font-color);
    transition: var(--style-transition)
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 120rem;
    margin: 1rem auto;
    padding: 0 6rem;
}
h2 {
    margin: 1rem;
}
a {
    text-decoration: none;
    transition: var(--style-transition)
}
a:visited, .link {
    text-decoration: none;
    color: var(--main-font-color);
}
a:hover, .link:hover {
    color: var(--font-hover-color);
    transition: 0s;
}
@media screen and (max-width: 768px) {
    //md
    .container {
        padding: 0 2rem;
    }
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

